{% extends 'base.html.twig' %}

{% block title %}Imply{% endblock %}

{% block body %}
    <div class="col-12 shadow-sm" id="main-screen">
        <div class="col-12 justify-content-end d-flex div-top-price">
            <label class="align-self-center mr-2 fs-2 font-weight-bold me-1" for="total">Total R$: </label>
            <input class="bg-white price-input text-end col-2 fs-1 font-weight-bold border border-dark" type="text" name="total" id="total" value="0" disabled>
        </div>
    </div>

    <div class="col-12 mt-1">
        <div class="input-group mb-3 col-12">
            <input type="text" class="form-control" placeholder="Digite o nome ou a referência do produto" aria-label="Digite o nome ou a referência do produto" aria-describedby="button-icon" id="search-bar">
            <button class="btn btn-outline-secondary" type="button" id="button-icon">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <h2>Lista de Produtos</h2>

    <table class="border border-dark mt-2 display table table-hover table-responsive-sm" id="productsTable">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Remover do carrinho</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('#button-icon').click(function (e) {
            e.preventDefault();
            let productSearch = $('#search-bar').val()

            $.ajax({
                url:'/add_product_to_cart',
                type: 'POST',
                data: {productSearch: productSearch},
                success: function (response) {
                    if(response.code != 200) {
                        $.alert({
                            title: 'Não encontrado!',
                            content: 'Produto não encontrado',
                        });
                        return;
                    }

                    $('#search-bar').val('')

                    realoadTable();


                }
            })
        })

        function realoadTable() {

            const tableBody = document.getElementById('table-body');

            $.ajax({
                url:'/get_products_in_cart',
                type: 'GET',
                success: function (products) {
                    if (products){
                        tableBody.innerHTML = '';
                        for (const product of products) {

                            tableBody.innerHTML += `
                            <tr>
                                <td>${product.name}</td>
                                <td>R$ ${product.price.toFixed(2)}</td>
                                <td>${product.quantity}</td>
                                <td><a href="#" onclick="removeProductFromCart(${product.id})"><i class="bi bi-trash black 50"></i></a></td>
                            </tr>`
                        }

                        let table = new DataTable('#productsTable');

                    }
                }
            })

            $.ajax({
                url:'/get_total_cart',
                type: 'GET',
                success: function (total) {
                    $('#total').val(`${total.toFixed(2)}`)

                }
            })
        }

        realoadTable();

        function removeProductFromCart(productId) {
            $.ajax({
                url: '/delete_product_from_cart',
                type: 'DELETE',
                data: {productId: productId},
                success: function (response) {

                    $.alert({
                        title: 'Sucesso!',
                        content: 'Produto removido com sucesso',
                    });

                    realoadTable();
                }
            })
        }

    </script>
{% endblock %}

