<div class="sidebar-div col-4">
    <nav class="sidebar bg-dark text-light">
        <div class="text"><i class="bi bi-filter-square-fill"></i> Imply</div>
        <ul class="menu-link">
            <li><a href="#" id="pos"><i class="bi bi-speedometer"></i> Tela de venda</a></li>
            <li><a href="#" id="orders"><i class="bi bi-clipboard" ></i> Vendas</a></li>
        </ul>
    </nav>
</div>